<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmar Eliminación de Paciente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Eliminación de Paciente</h1>
        <p>¿Estás seguro de que deseas eliminar este registro?"></span>?</p>
        <form th:action="@{'/paciente/delete/' + ${paciente.id}}" method="post">
            <button type="submit" class="btn btn-danger mr-2">Eliminar</button>
            <a href="/paciente/all_frontend" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>